.card {
  position: relative;
  min-height: 51rem;
  border: 1px solid #fff;
  border-radius: 2rem;
  // overflow: hidden;
  backdrop-filter: blur(2px);

  @include mobile {
    min-height: 25.2rem;
    border-radius: 0.5rem;
  }
  &__img {
    height: 32.5rem;
    background-color: #ffa841;
    border-radius: 2rem;
    margin: -1px;
    overflow: hidden;

    @include mobile {
      height: 15rem;
      border-radius: 0.5rem;
    }
    img {
      display: block;
      width: 100%;
      height: 100%;

      transition-duration: 0.3s;
      transition-property: transform;
    }
  }
  &__content {
    padding: 2rem 2.4rem;

    @include mobile {
      padding: 1rem;
    }
  }
  &__name {
    margin: 0;
    font-weight: 700;
    font-size: 3.6rem;
    color: #fff;
    transition-duration: 0.3s;
    transition-property: color;
    &:not(:last-child) {
      margin-bottom: 0.7rem;
      @include mobile {
        margin-bottom: 0;
      }
    }

    @include mobile {
      font-size: 2rem;
    }

    a {
      &::after {
        content: "";
        position: absolute;
        inset: 0;
        z-index: 4;
      }
    }
  }
  &__subtitle {
    margin: 0;
    font-weight: 400;
    font-size: 2rem;
    color: #b8b8b8;
    &:not(:last-child) {
      margin-bottom: 2rem;

      @include mobile {
        margin-bottom: 1rem;
      }
    }

    @include mobile {
      font-size: 1rem;
    }
  }

  &__row {
    display: flex;
    gap: 1.4rem;
    position: relative;
    z-index: 6;
    & > * {
      flex: 1;
    }
  }

  &__btn {
    min-width: unset;
    @include tablet {
      font-size: 1.5rem;
      padding: 1rem;
    }

    @include mobile {
      font-size: 1.3rem;
      border-radius: 0.5rem;
    }
  }

  @include hover {
    .card__name {
      color: var(--yellow);
      text-shadow: 0 0 3px rgba(#000000, 0.5);
    }
    .card__img img {
      transform: scale(1.05);
    }
  }
}
