.card {
  position: relative;
  min-height: 51rem;
  border: 1px solid #fff;
  border-radius: 2rem;
  // overflow: hidden;
  backdrop-filter: blur(2px);
  &__img {
    height: 32.5rem;
    background-color: #ffa841;
    border-radius: 2rem;
    margin: -1px;
    img {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
  &__content {
    padding: 2rem 2.4rem;
  }
  &__name {
    margin: 0;
    font-weight: 700;
    font-size: 3.6rem;
    color: #fff;

    &:not(:last-child) {
      margin-bottom: 0.7rem;
    }
  }
  &__subtitle {
    margin: 0;
    font-weight: 400;
    font-size: 2rem;
    color: #b8b8b8;
    &:not(:last-child) {
      margin-bottom: 2rem;
    }
  }

  &__row {
    display: flex;
    gap: 1.4rem;

    & > * {
      flex: 1;
    }
  }
}
