.card-more {
  position: absolute;
  min-height: 51rem;
  z-index: 10;
  border-radius: 2rem;
  overflow: hidden;
  background-color: var(--yellow);
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, #000 40%);
  padding: 10rem 20rem;
  opacity: 0;
  pointer-events: none;
  display: flex;
  justify-content: flex-end;
  transition: opacity 0.3s ease;

  &__header {
    display: flex;
    justify-content: space-between;

    &:not(:last-child) {
      margin-bottom: 7.6rem;
    }
  }
  &__title {
    margin: 0;
    font-weight: 700;
    font-size: 4.8rem;
    color: #fff;

    &:not(:last-child) {
      margin-bottom: 2.4rem;
    }
  }

  &__subtitle {
    margin: 0;
    font-weight: 400;
    font-size: 2rem;
    color: #b8b8b8;
  }

  &__header {
    justify-content: space-between;
  }

  &__content {
    flex-basis: 81.5rem;
    flex-shrink: 0;
  }

  &__list {
    font-weight: 700;
    font-size: 2.4rem;

    span {
      color: var(--yellow);
    }
  }

  &__close {
    position: absolute;
    right: 4.7rem;
    top: 50%;
    transform: translateY(-50%);

    width: 0.5em 0.5rem;
    height: 5.5rem;

    svg {
      width: 100%;
      height: 100%;
      fill: var(--white);
      transform: rotateY(180deg);
    }
  }
}
