.category {
  &:not(:last-child) {
    margin-bottom: 10rem;
  }
  &__container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem 9rem;
    min-height: 51rem; // Минимальная высота для правильного позиционирования
  }
  &__title {
    position: relative;
    font-weight: 700;
    font-size: 4.8rem;
    color: #fff;
    margin-bottom: 4rem;

    padding-bottom: 1rem;
    &::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 0;
      width: 38rem;
      height: 2px;
      background-color: var(--white);
    }
  }
}
