.contact {
  border: 1px solid #fff;
  border-radius: 3.2rem;
  padding: 5.6rem 6.4rem;
  background-color: rgba(0, 0, 0, 0.61);

  @include mobile {
    padding: 5rem 4rem;
    border-radius: 0;
    background-color: var(--black);
    border: none;
    border-top: 2px solid var(--yellow);
    border-bottom: 2px solid var(--yellow);
    margin: 0 calc(-1 * var(--container-offset));
  }
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;

    padding-bottom: 2rem;
    border-bottom: 2px solid var(--white);

    &:not(:last-child) {
      margin-bottom: 6rem;

      @include mobile {
        margin-bottom: 3rem;
      }
    }
  }

  &__title {
    margin: 0;

    font-weight: 700;
    font-size: 3.6rem;
    color: #fff;

    @include mobile {
      font-size: 2.4rem;
    }
  }
  &__desc {
    margin: 0;
    max-width: 85rem;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 2rem;
    color: #b8b8b8;

    @include mobile {
      font-size: 1.5rem;
    }
  }
  &__socials {
    @include mobile {
      display: none;
    }
  }
  &__capture {
    margin: 0;
    font-weight: 700;
    font-size: 6.4rem;
    color: #ffa841;

    @include mobile {
      font-size: 3.2rem;
    }
    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }

  &__top:not(:last-child) {
    margin-bottom: 6rem;

    @include mobile {
      margin-bottom: 3rem;
    }
  }
}
