.footer {
  padding: 16rem 0 2rem;
  background-color: rgba(0, 0, 0, 0);
  background-image: linear-gradient(
    0deg,
    rgba(255, 128, 0, 0.5) 21.47%,
    rgba(255, 127, 0, 0) 100%
  );
  &__container {
    max-width: 120rem;
    margin: 0 auto;
  }

  &__row {
    border-bottom: 1px solid var(--white);
    padding-bottom: 3.2rem;
  }

  &__bottom {
    padding-top: 3.2rem;
  }

  &__copyright {
    font-weight: 300;
    font-size: 1.2rem;
    text-align: center;
    color: #fff;
  }
}
