.form {
  &__input {
    display: block;
    height: 7rem;
    background-color: #272727;
    padding: 2rem 4rem;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 2.4rem;
    color: #b8b8b8;
    width: 100%;
    border: none;
    transition-property: color, background-color;
    transition-duration: 0.3s;

    &::placeholder {
      transition-property: color, background-color;
      transition-duration: 0.3s;
    }
    &_area {
      resize: none;
      height: 19rem;
      vertical-align: middle;
    }

    @include hover {
      background-color: #bebebe;
      color: var(--white);

      &::placeholder {
        color: var(--white);
      }
    }
    &:focus-visible {
      outline: 1px solid var(--white);
      background-color: #bebebe;
      color: var(--white);
      &::placeholder {
        color: var(--white);
      }
    }
  }

  &__field {
    &:not(:last-child) {
      margin-bottom: 3rem;
    }
  }

  &__btn {
    padding: 2rem;
    font-size: 1.8rem;
  }
}
