// ваш код
.header {
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  right: 0;
  padding: 2.8rem 0;

  background-color: rgba(19, 19, 19, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);

  transition-property: box-shadow, border, background-color;
  transition-duration: 0.3s;
  transition-timing-function: ease;

  @include tablet {
    padding: 2.8rem 4rem;
  }
  @include mobile {
    padding: 2rem 0;
  }

  &.header--scrolled {
    background-color: rgba(19, 19, 19, 0.15);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.5);
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    min-width: 17.4rem;
    height: auto;
    flex-shrink: 0;
    img {
      width: 100%;
      height: auto;
    }

    @include mobile {
      width: 13rem;
    }
  }

  &__nav {
    @include mobile {
      display: none;
    }
  }
}
