.hero {
  min-height: 100vh;
  padding: 20rem 0;

  display: flex;
  align-items: center;
  @include tablet {
    align-items: flex-start;
    padding: 18rem 0;
  }
  @include mobile {
    padding: 15rem 2rem;
  }
  &__content {
    max-width: 85rem;
    margin: 0 auto;
    text-align: center;
  }

  &__subtitle {
    @include tablet {
      max-width: 60.8rem;
      margin: 0 auto;
    }
    &:not(:last-child) {
      margin-bottom: 6.4rem;
    }
  }

  &__row {
    display: flex;
    justify-content: center;
    gap: 2.4rem;
    position: relative;
    @include mobile {
      flex-direction: column;
    }
    &::after {
      content: "";
      position: absolute;
      left: 50%;
      transform: translate(-50%, 0);
      top: calc(100% + 2.5rem);
      height: 6.4rem;
      width: 93.5rem;
      background-image: radial-gradient(
        50% 50% at 50% 50%,
        rgb(217, 217, 217, 0.7) 0%,
        rgb(217, 217, 217, 0) 100%
      );

      @include mobile {
        width: 26.4rem;
        height: 4rem;
      }
    }
  }

  &_games &__content::after {
    display: none;
  }
  &_games {
    align-items: flex-start;
  }

  &__btn {
    padding: 1.7rem;

    @include mobile {
      background-color: var(--black);
      border: 2px solid var(--yellow);
      box-shadow: 0 0 10px 0 var(--yellow);
    }
  }
}
