.hero {
  min-height: 100vh;
  padding: 20rem 0;

  display: flex;
  align-items: center;

  &__content {
    max-width: 85rem;
    margin: 0 auto;
    text-align: center;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      left: 50%;
      transform: translate(-50%, 0);
      top: calc(100% + 2.5rem);
      height: 6.4rem;
      width: 93.5rem;
      background-image: radial-gradient(
        50% 50% at 50% 50%,
        rgb(217, 217, 217, 0.7) 0%,
        rgb(217, 217, 217, 0) 100%
      );
    }
  }

  &__subtitle {
    &:not(:last-child) {
      margin-bottom: 6.4rem;
    }
  }

  &__row {
    display: flex;
    justify-content: center;
    gap: 2.4rem;
  }
}
