.marquee {
  &__items,
  &__row {
    display: flex;
    gap: 3rem;
  }
  &__items {
    min-width: 100%;
    flex-shrink: 0;
    animation: marquee-scroll 30s linear infinite;
  }
  &__item {
    flex-shrink: 0;
    width: 44rem;
    height: 14.5rem;
    background-color: rgba(217, 217, 217, 0.13);
    img {
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  &__row {
    overflow: hidden;
    &:not(:last-child) {
      margin-bottom: 2.4rem;
    }
    &_reverse {
      .marquee__items {
        animation-direction: reverse;
      }
    }
  }
}

@keyframes marquee-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
