.nav {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    display: flex;
    align-items: center;
    gap: 1rem;
    border: 1px solid #979797;
    border-radius: 1rem;
    padding: 0.9rem 1rem;
    background-color: #404040;

    a {
      display: inline-block;
      padding: 1.2rem 3.6rem;
      font-weight: 700;
      font-size: 2rem;
      color: #b8b8b8;
      border-radius: 0.2rem;
      transition-property: color, background-color, box-shadow;
      transition-duration: 0.3s;
      overflow: hidden;
      @include hover {
        box-shadow: 0 0 14px 0 rgba(255, 255, 255, 0.25);
        background-color: #5a5a5a;
      }
      &:focus-visible {
        outline: none;
        box-shadow: 0 0 14px 0 rgba(255, 255, 255, 0.25);
        background-color: #5a5a5a;
      }
    }
  }
}
