.partners {
  padding: 5rem 0;

  &__header {
    text-align: left;

    &:not(:last-child) {
      margin-bottom: 12.5rem;

      @include tablet {
        margin-bottom: 6rem;
      }
    }
  }

  &__bottom {
    &:not(:first-child) {
      margin-top: 16rem;

      @include tablet {
        margin-top: 8rem;
      }
      @include mobile {
        margin-top: 2rem;
      }
    }
  }
}
