.title-xl {
  margin: 0;
  font-weight: 700;
  font-size: 9.6rem;
  text-align: center;
  color: #fff;

  &:not(:last-child) {
    margin-bottom: 2.4rem;
  }

  @include tablet {
    font-size: 8.7rem;
  }

  @include mobile {
    font-size: 4.2rem;
  }
}

.title-lg {
  margin: 0;
  font-weight: 700;
  font-size: 6.4rem;
  text-align: center;
  color: #fff;

  &:not(:last-child) {
    margin-bottom: 2.4rem;
  }

  @include mobile {
    font-size: 3.7rem;
  }
}

.title-md {
  margin: 0;
  font-weight: 700;
  font-size: 4.8rem;
  color: #fff;
}

.title-underline {
  padding-bottom: 1rem;

  font-weight: 700;
  font-size: 4.8rem;
  color: #fff;

  @include mobile {
    font-size: 2.4rem;
    padding-bottom: 0.5rem;
  }
  span {
    display: inline-block;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 38rem;
      height: 2px;
      background-color: var(--white);

      @include mobile {
        width: 20rem;
      }
    }
  }

  .centered & span::after {
    left: 50%;
    transform: translateX(-50%);
    width: 110%;
  }
}

.subtitle {
  margin: 0;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 2.4rem;
  color: #b8b8b8;

  @include mobile {
    font-size: 1.8rem;
  }
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  border-radius: 1rem;
  padding: 1.2rem 4.2rem;
  min-width: 20rem;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 1.6rem;
  color: #fff;

  background-color: #5a5a5a;

  transition-property: color, background-color, box-shadow;
  transition-duration: 0.3s;
  transition-timing-function: ease;

  &_demo {
    background-color: var(--black);
    border: 2px solid #ffa841;
    svg {
      width: 2.4rem;
      height: 2.4rem;
      fill: var(--yellow);
      transition-property: fill;
      transition-duration: 0.3s;
      transition-timing-function: ease;
    }
  }

  &_accent {
    background-color: var(--yellow);
    color: var(--black);
  }

  @include hover {
    background-color: var(--yellow);
    color: var(--white);
    box-shadow: 0 0 10px 0 #ffa841;

    svg {
      fill: var(--white);
    }
  }
}

.socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;

  list-style: none;
  margin: 0;
  padding: 0;

  li {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 4rem;
    aspect-ratio: 1 / 1;
    border-radius: 100%;
    background-color: var(--white);

    transition-property: background-color;
    transition-duration: 0.3s;
    transition-timing-function: ease;

    @include hover {
      background-color: var(--yellow);
      box-shadow: 0 0 10px 0 #ffa841;
    }

    &:focus-visible {
      outline: none;
      background-color: var(--yellow);
    }

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;

      img {
        display: block;
        width: 60%;
        height: 60%;
        object-fit: contain;
      }
    }
  }
}

.docs {
  padding: 15rem 0;

  &__btn {
    padding: 4rem 10rem;
    font-size: 4.8rem;
    border-width: 5px;
  }
}
