.title-xl {
  margin: 0;
  font-weight: 700;
  font-size: 9.6rem;
  text-align: center;
  color: #fff;

  &:not(:last-child) {
    margin-bottom: 2.4rem;
  }
}

.title-lg {
  margin: 0;
  font-weight: 700;
  font-size: 6.4rem;
  text-align: center;
  color: #fff;

  &:not(:last-child) {
    margin-bottom: 2.4rem;
  }
}

.subtitle {
  margin: 0;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 2.4rem;
  color: #b8b8b8;
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  border-radius: 1rem;
  padding: 1.2rem 4.2rem;
  min-width: 20rem;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 1.6rem;
  color: #fff;

  background-color: #5a5a5a;

  transition-property: color, background-color, box-shadow;
  transition-duration: 0.3s;
  transition-timing-function: ease;

  &_demo {
    background-color: var(--black);
    border: 2px solid #ffa841;
    svg {
      width: 2.4rem;
      height: 2.4rem;
      fill: var(--yellow);
      transition-property: fill;
      transition-duration: 0.3s;
      transition-timing-function: ease;
    }
  }

  @include hover {
    background-color: var(--yellow);
    color: var(--white);
    box-shadow: 0 0 10px 0 #ffa841;

    svg {
      fill: var(--white);
    }
  }
}
