<section class="all-games">

  <div class="container">


    <div class="games__category category">
      <h3 class="category__title">
        <a href="#">Casino games</a>
      </h3>
      <div class="category__container">
        <article class="category__card card">


          <div class="card__more card-more">
            <div class="card-more__img"></div>
            <div class="card-more__content">
              <div class="card-more__header">
                <div>
                  <p class="card-more__title">
                    Название
                  </p>
                  <p class="card-more__subtitle">
                    Позаголовок
                  </p>
                </div>

                <a href="#" class="btn btn-reset btn_demo card-more__btn">
                  Demo

                  <svg class="" width="24" height="24">
                    <use xlink:href="img/sprite.svg#play"></use>
                  </svg>
                </a>
              </div>

              <ul class="list-reset card-more__list">
                <li><span>GAME TYPE:</span> SLOT</li>
                <li><span>RTP:</span> 96%</li>
                <li><span>MAX MULTIPLE:</span> 10 000x</li>
                <li><span>BASE MECHANICS:</span> Player shoots the running cockroaches</li>
                <li><span>FREE GAME:</span> Free spins (free shots) when the player gets three misses</li>
              </ul>
            </div>

            <button class="card-more__close btn-reset">
              <svg class="" width="55" height="55">
                <use xlink:href="img/sprite.svg#play"></use>
              </svg>
            </button>
          </div>


          <div class="card__img">

          </div>
          <div class="card__content">
            <h4 class="card__name"><a href="#">Название</a></h4>
            <p class="card__subtitle">
              Позаголовок
            </p>
            <div class="card__row">
              <a href="#" class="card__btn btn btn-reset">
                Узнать больше
              </a>
              <a href="#" class="card__btn card__btn_more btn btn_demo btn-reset">
                Demo

                <svg class="" width="24" height="24">
                  <use xlink:href="img/sprite.svg#play"></use>
                </svg>
              </a>
            </div>
          </div>
        </article>
        <article class="category__card card">

          <div class="card__more card-more">
            <div class="card-more__img"></div>
            <div class="card-more__content">
              <div class="card-more__header">
                <div>
                  <p class="card-more__title">
                    Название
                  </p>
                  <p class="card-more__subtitle">
                    Позаголовок
                  </p>
                </div>

                <a href="#" class="btn btn-reset btn_demo card-more__btn">
                  Demo

                  <svg class="" width="24" height="24">
                    <use xlink:href="img/sprite.svg#play"></use>
                  </svg>
                </a>
              </div>

              <ul class="list-reset card-more__list">
                <li><span>GAME TYPE:</span> SLOT</li>
                <li><span>RTP:</span> 96%</li>
                <li><span>MAX MULTIPLE:</span> 10 000x</li>
                <li><span>BASE MECHANICS:</span> Player shoots the running cockroaches</li>
                <li><span>FREE GAME:</span> Free spins (free shots) when the player gets three misses</li>
              </ul>
            </div>

            <button class="card-more__close btn-reset">
              <svg class="" width="55" height="55">
                <use xlink:href="img/sprite.svg#play"></use>
              </svg>
            </button>
          </div>

          <div class="card__img">

          </div>
          <div class="card__content">
            <h4 class="card__name"><a href="#">Название</a></h4>
            <p class="card__subtitle">
              Позаголовок
            </p>
            <div class="card__row">
              <a href="#" class="card__btn btn btn-reset">
                Узнать больше
              </a>
              <a href="#" class="card__btn card__btn_more btn btn_demo btn-reset">
                Demo

                <svg class="" width="24" height="24">
                  <use xlink:href="img/sprite.svg#play"></use>
                </svg>
              </a>
            </div>
          </div>
        </article>
        <article class="category__card card">


          <div class="card__more card-more">
            <div class="card-more__img"></div>
            <div class="card-more__content">
              <div class="card-more__header">
                <div>
                  <p class="card-more__title">
                    Название
                  </p>
                  <p class="card-more__subtitle">
                    Позаголовок
                  </p>
                </div>

                <a href="#" class="btn btn-reset btn_demo card-more__btn">
                  Demo

                  <svg class="" width="24" height="24">
                    <use xlink:href="img/sprite.svg#play"></use>
                  </svg>
                </a>
              </div>

              <ul class="list-reset card-more__list">
                <li><span>GAME TYPE:</span> SLOT</li>
                <li><span>RTP:</span> 96%</li>
                <li><span>MAX MULTIPLE:</span> 10 000x</li>
                <li><span>BASE MECHANICS:</span> Player shoots the running cockroaches</li>
                <li><span>FREE GAME:</span> Free spins (free shots) when the player gets three misses</li>
              </ul>
            </div>

            <button class="card-more__close btn-reset">
              <svg class="" width="55" height="55">
                <use xlink:href="img/sprite.svg#play"></use>
              </svg>
            </button>
          </div>

          <div class="card__img">

          </div>
          <div class="card__content">
            <h4 class="card__name"><a href="#">Название</a></h4>
            <p class="card__subtitle">
              Позаголовок
            </p>
            <div class="card__row">
              <a href="#" class="card__btn btn btn-reset">
                Узнать больше
              </a>
              <a href="#" class="card__btn card__btn_more btn btn_demo btn-reset">
                Demo

                <svg class="" width="24" height="24">
                  <use xlink:href="img/sprite.svg#play"></use>
                </svg>
              </a>
            </div>
          </div>
        </article>
        <article class="category__card card">


          <div class="card__more card-more">
            <div class="card-more__img"></div>
            <div class="card-more__content">
              <div class="card-more__header">
                <div>
                  <p class="card-more__title">
                    Название
                  </p>
                  <p class="card-more__subtitle">
                    Позаголовок
                  </p>
                </div>

                <a href="#" class="btn btn-reset btn_demo card-more__btn">
                  Demo

                  <svg class="" width="24" height="24">
                    <use xlink:href="img/sprite.svg#play"></use>
                  </svg>
                </a>
              </div>

              <ul class="list-reset card-more__list">
                <li><span>GAME TYPE:</span> SLOT</li>
                <li><span>RTP:</span> 96%</li>
                <li><span>MAX MULTIPLE:</span> 10 000x</li>
                <li><span>BASE MECHANICS:</span> Player shoots the running cockroaches</li>
                <li><span>FREE GAME:</span> Free spins (free shots) when the player gets three misses</li>
              </ul>
            </div>

            <button class="card-more__close btn-reset">
              <svg class="" width="55" height="55">
                <use xlink:href="img/sprite.svg#play"></use>
              </svg>
            </button>
          </div>


          <div class="card__img">

          </div>
          <div class="card__content">
            <h4 class="card__name"><a href="#">Название</a></h4>
            <p class="card__subtitle">
              Позаголовок
            </p>
            <div class="card__row">
              <a href="#" class="card__btn btn btn-reset">
                Узнать больше
              </a>
              <a href="#" class="card__btn card__btn_more btn btn_demo btn-reset">
                Demo

                <svg class="" width="24" height="24">
                  <use xlink:href="img/sprite.svg#play"></use>
                </svg>
              </a>
            </div>
          </div>
        </article>
        <article class="category__card card">

          <div class="card__more card-more">
            <div class="card-more__img"></div>
            <div class="card-more__content">
              <div class="card-more__header">
                <div>
                  <p class="card-more__title">
                    Название
                  </p>
                  <p class="card-more__subtitle">
                    Позаголовок
                  </p>
                </div>

                <a href="#" class="btn btn-reset btn_demo card-more__btn">
                  Demo

                  <svg class="" width="24" height="24">
                    <use xlink:href="img/sprite.svg#play"></use>
                  </svg>
                </a>
              </div>

              <ul class="list-reset card-more__list">
                <li><span>GAME TYPE:</span> SLOT</li>
                <li><span>RTP:</span> 96%</li>
                <li><span>MAX MULTIPLE:</span> 10 000x</li>
                <li><span>BASE MECHANICS:</span> Player shoots the running cockroaches</li>
                <li><span>FREE GAME:</span> Free spins (free shots) when the player gets three misses</li>
              </ul>
            </div>

            <button class="card-more__close btn-reset">
              <svg class="" width="55" height="55">
                <use xlink:href="img/sprite.svg#play"></use>
              </svg>
            </button>
          </div>

          <div class="card__img">

          </div>
          <div class="card__content">
            <h4 class="card__name"><a href="#">Название</a></h4>
            <p class="card__subtitle">
              Позаголовок
            </p>
            <div class="card__row">
              <a href="#" class="card__btn btn btn-reset">
                Узнать больше
              </a>
              <a href="#" class="card__btn card__btn_more btn btn_demo btn-reset">
                Demo

                <svg class="" width="24" height="24">
                  <use xlink:href="img/sprite.svg#play"></use>
                </svg>
              </a>
            </div>
          </div>
        </article>
        <article class="category__card card">


          <div class="card__more card-more">
            <div class="card-more__img"></div>
            <div class="card-more__content">
              <div class="card-more__header">
                <div>
                  <p class="card-more__title">
                    Название
                  </p>
                  <p class="card-more__subtitle">
                    Позаголовок
                  </p>
                </div>

                <a href="#" class="btn btn-reset btn_demo card-more__btn">
                  Demo

                  <svg class="" width="24" height="24">
                    <use xlink:href="img/sprite.svg#play"></use>
                  </svg>
                </a>
              </div>

              <ul class="list-reset card-more__list">
                <li><span>GAME TYPE:</span> SLOT</li>
                <li><span>RTP:</span> 96%</li>
                <li><span>MAX MULTIPLE:</span> 10 000x</li>
                <li><span>BASE MECHANICS:</span> Player shoots the running cockroaches</li>
                <li><span>FREE GAME:</span> Free spins (free shots) when the player gets three misses</li>
              </ul>
            </div>

            <button class="card-more__close btn-reset">
              <svg class="" width="55" height="55">
                <use xlink:href="img/sprite.svg#play"></use>
              </svg>
            </button>
          </div>

          <div class="card__img">

          </div>
          <div class="card__content">
            <h4 class="card__name"><a href="#">Название</a></h4>
            <p class="card__subtitle">
              Позаголовок
            </p>
            <div class="card__row">
              <a href="#" class="card__btn btn btn-reset">
                Узнать больше
              </a>
              <a href="#" class="card__btn card__btn_more btn btn_demo btn-reset">
                Demo

                <svg class="" width="24" height="24">
                  <use xlink:href="img/sprite.svg#play"></use>
                </svg>
              </a>
            </div>
          </div>
        </article>
        <article class="category__card card">


          <div class="card__more card-more">
            <div class="card-more__img"></div>
            <div class="card-more__content">
              <div class="card-more__header">
                <div>
                  <p class="card-more__title">
                    Название
                  </p>
                  <p class="card-more__subtitle">
                    Позаголовок
                  </p>
                </div>

                <a href="#" class="btn btn-reset btn_demo card-more__btn">
                  Demo

                  <svg class="" width="24" height="24">
                    <use xlink:href="img/sprite.svg#play"></use>
                  </svg>
                </a>
              </div>

              <ul class="list-reset card-more__list">
                <li><span>GAME TYPE:</span> SLOT</li>
                <li><span>RTP:</span> 96%</li>
                <li><span>MAX MULTIPLE:</span> 10 000x</li>
                <li><span>BASE MECHANICS:</span> Player shoots the running cockroaches</li>
                <li><span>FREE GAME:</span> Free spins (free shots) when the player gets three misses</li>
              </ul>
            </div>

            <button class="card-more__close btn-reset">
              <svg class="" width="55" height="55">
                <use xlink:href="img/sprite.svg#play"></use>
              </svg>
            </button>
          </div>


          <div class="card__img">

          </div>
          <div class="card__content">
            <h4 class="card__name"><a href="#">Название</a></h4>
            <p class="card__subtitle">
              Позаголовок
            </p>
            <div class="card__row">
              <a href="#" class="card__btn btn btn-reset">
                Узнать больше
              </a>
              <a href="#" class="card__btn card__btn_more btn btn_demo btn-reset">
                Demo

                <svg class="" width="24" height="24">
                  <use xlink:href="img/sprite.svg#play"></use>
                </svg>
              </a>
            </div>
          </div>
        </article>
        <article class="category__card card">

          <div class="card__more card-more">
            <div class="card-more__img"></div>
            <div class="card-more__content">
              <div class="card-more__header">
                <div>
                  <p class="card-more__title">
                    Название
                  </p>
                  <p class="card-more__subtitle">
                    Позаголовок
                  </p>
                </div>

                <a href="#" class="btn btn-reset btn_demo card-more__btn">
                  Demo

                  <svg class="" width="24" height="24">
                    <use xlink:href="img/sprite.svg#play"></use>
                  </svg>
                </a>
              </div>

              <ul class="list-reset card-more__list">
                <li><span>GAME TYPE:</span> SLOT</li>
                <li><span>RTP:</span> 96%</li>
                <li><span>MAX MULTIPLE:</span> 10 000x</li>
                <li><span>BASE MECHANICS:</span> Player shoots the running cockroaches</li>
                <li><span>FREE GAME:</span> Free spins (free shots) when the player gets three misses</li>
              </ul>
            </div>

            <button class="card-more__close btn-reset">
              <svg class="" width="55" height="55">
                <use xlink:href="img/sprite.svg#play"></use>
              </svg>
            </button>
          </div>

          <div class="card__img">

          </div>
          <div class="card__content">
            <h4 class="card__name"><a href="#">Название</a></h4>
            <p class="card__subtitle">
              Позаголовок
            </p>
            <div class="card__row">
              <a href="#" class="card__btn btn btn-reset">
                Узнать больше
              </a>
              <a href="#" class="card__btn card__btn_more btn btn_demo btn-reset">
                Demo

                <svg class="" width="24" height="24">
                  <use xlink:href="img/sprite.svg#play"></use>
                </svg>
              </a>
            </div>
          </div>
        </article>
        <article class="category__card card">


          <div class="card__more card-more">
            <div class="card-more__img"></div>
            <div class="card-more__content">
              <div class="card-more__header">
                <div>
                  <p class="card-more__title">
                    Название
                  </p>
                  <p class="card-more__subtitle">
                    Позаголовок
                  </p>
                </div>

                <a href="#" class="btn btn-reset btn_demo card-more__btn">
                  Demo

                  <svg class="" width="24" height="24">
                    <use xlink:href="img/sprite.svg#play"></use>
                  </svg>
                </a>
              </div>

              <ul class="list-reset card-more__list">
                <li><span>GAME TYPE:</span> SLOT</li>
                <li><span>RTP:</span> 96%</li>
                <li><span>MAX MULTIPLE:</span> 10 000x</li>
                <li><span>BASE MECHANICS:</span> Player shoots the running cockroaches</li>
                <li><span>FREE GAME:</span> Free spins (free shots) when the player gets three misses</li>
              </ul>
            </div>

            <button class="card-more__close btn-reset">
              <svg class="" width="55" height="55">
                <use xlink:href="img/sprite.svg#play"></use>
              </svg>
            </button>
          </div>

          <div class="card__img">

          </div>
          <div class="card__content">
            <h4 class="card__name"><a href="#">Название</a></h4>
            <p class="card__subtitle">
              Позаголовок
            </p>
            <div class="card__row">
              <a href="#" class="card__btn btn btn-reset">
                Узнать больше
              </a>
              <a href="#" class="card__btn card__btn_more btn btn_demo btn-reset">
                Demo

                <svg class="" width="24" height="24">
                  <use xlink:href="img/sprite.svg#play"></use>
                </svg>
              </a>
            </div>
          </div>
        </article>
      </div>
    </div>

    <div class="games__category category">
      <h3 class="category__title">
        <a href="#">Sportsbook</a>
      </h3>
      <div class="category__container">
        <article class="category__card card">


          <div class="card__more card-more">
            <div class="card-more__img"></div>
            <div class="card-more__content">
              <div class="card-more__header">
                <div>
                  <p class="card-more__title">
                    Название
                  </p>
                  <p class="card-more__subtitle">
                    Позаголовок
                  </p>
                </div>

                <a href="#" class="btn btn-reset btn_demo card-more__btn">
                  Demo

                  <svg class="" width="24" height="24">
                    <use xlink:href="img/sprite.svg#play"></use>
                  </svg>
                </a>
              </div>

              <ul class="list-reset card-more__list">
                <li><span>GAME TYPE:</span> SLOT</li>
                <li><span>RTP:</span> 96%</li>
                <li><span>MAX MULTIPLE:</span> 10 000x</li>
                <li><span>BASE MECHANICS:</span> Player shoots the running cockroaches</li>
                <li><span>FREE GAME:</span> Free spins (free shots) when the player gets three misses</li>
              </ul>
            </div>

            <button class="card-more__close btn-reset">
              <svg class="" width="55" height="55">
                <use xlink:href="img/sprite.svg#play"></use>
              </svg>
            </button>
          </div>


          <div class="card__img">

          </div>
          <div class="card__content">
            <h4 class="card__name"><a href="#">Название</a></h4>
            <p class="card__subtitle">
              Позаголовок
            </p>
            <div class="card__row">
              <a href="#" class="card__btn btn btn-reset">
                Узнать больше
              </a>
              <a href="#" class="card__btn card__btn_more btn btn_demo btn-reset">
                Demo

                <svg class="" width="24" height="24">
                  <use xlink:href="img/sprite.svg#play"></use>
                </svg>
              </a>
            </div>
          </div>
        </article>
        <article class="category__card card">

          <div class="card__more card-more">
            <div class="card-more__img"></div>
            <div class="card-more__content">
              <div class="card-more__header">
                <div>
                  <p class="card-more__title">
                    Название
                  </p>
                  <p class="card-more__subtitle">
                    Позаголовок
                  </p>
                </div>

                <a href="#" class="btn btn-reset btn_demo card-more__btn">
                  Demo

                  <svg class="" width="24" height="24">
                    <use xlink:href="img/sprite.svg#play"></use>
                  </svg>
                </a>
              </div>

              <ul class="list-reset card-more__list">
                <li><span>GAME TYPE:</span> SLOT</li>
                <li><span>RTP:</span> 96%</li>
                <li><span>MAX MULTIPLE:</span> 10 000x</li>
                <li><span>BASE MECHANICS:</span> Player shoots the running cockroaches</li>
                <li><span>FREE GAME:</span> Free spins (free shots) when the player gets three misses</li>
              </ul>
            </div>

            <button class="card-more__close btn-reset">
              <svg class="" width="55" height="55">
                <use xlink:href="img/sprite.svg#play"></use>
              </svg>
            </button>
          </div>

          <div class="card__img">

          </div>
          <div class="card__content">
            <h4 class="card__name"><a href="#">Название</a></h4>
            <p class="card__subtitle">
              Позаголовок
            </p>
            <div class="card__row">
              <a href="#" class="card__btn btn btn-reset">
                Узнать больше
              </a>
              <a href="#" class="card__btn card__btn_more btn btn_demo btn-reset">
                Demo

                <svg class="" width="24" height="24">
                  <use xlink:href="img/sprite.svg#play"></use>
                </svg>
              </a>
            </div>
          </div>
        </article>
        <article class="category__card card">


          <div class="card__more card-more">
            <div class="card-more__img"></div>
            <div class="card-more__content">
              <div class="card-more__header">
                <div>
                  <p class="card-more__title">
                    Название
                  </p>
                  <p class="card-more__subtitle">
                    Позаголовок
                  </p>
                </div>

                <a href="#" class="btn btn-reset btn_demo card-more__btn">
                  Demo

                  <svg class="" width="24" height="24">
                    <use xlink:href="img/sprite.svg#play"></use>
                  </svg>
                </a>
              </div>

              <ul class="list-reset card-more__list">
                <li><span>GAME TYPE:</span> SLOT</li>
                <li><span>RTP:</span> 96%</li>
                <li><span>MAX MULTIPLE:</span> 10 000x</li>
                <li><span>BASE MECHANICS:</span> Player shoots the running cockroaches</li>
                <li><span>FREE GAME:</span> Free spins (free shots) when the player gets three misses</li>
              </ul>
            </div>

            <button class="card-more__close btn-reset">
              <svg class="" width="55" height="55">
                <use xlink:href="img/sprite.svg#play"></use>
              </svg>
            </button>
          </div>

          <div class="card__img">

          </div>
          <div class="card__content">
            <h4 class="card__name"><a href="#">Название</a></h4>
            <p class="card__subtitle">
              Позаголовок
            </p>
            <div class="card__row">
              <a href="#" class="card__btn btn btn-reset">
                Узнать больше
              </a>
              <a href="#" class="card__btn card__btn_more btn btn_demo btn-reset">
                Demo

                <svg class="" width="24" height="24">
                  <use xlink:href="img/sprite.svg#play"></use>
                </svg>
              </a>
            </div>
          </div>
        </article>
        <article class="category__card card">


          <div class="card__more card-more">
            <div class="card-more__img"></div>
            <div class="card-more__content">
              <div class="card-more__header">
                <div>
                  <p class="card-more__title">
                    Название
                  </p>
                  <p class="card-more__subtitle">
                    Позаголовок
                  </p>
                </div>

                <a href="#" class="btn btn-reset btn_demo card-more__btn">
                  Demo

                  <svg class="" width="24" height="24">
                    <use xlink:href="img/sprite.svg#play"></use>
                  </svg>
                </a>
              </div>

              <ul class="list-reset card-more__list">
                <li><span>GAME TYPE:</span> SLOT</li>
                <li><span>RTP:</span> 96%</li>
                <li><span>MAX MULTIPLE:</span> 10 000x</li>
                <li><span>BASE MECHANICS:</span> Player shoots the running cockroaches</li>
                <li><span>FREE GAME:</span> Free spins (free shots) when the player gets three misses</li>
              </ul>
            </div>

            <button class="card-more__close btn-reset">
              <svg class="" width="55" height="55">
                <use xlink:href="img/sprite.svg#play"></use>
              </svg>
            </button>
          </div>


          <div class="card__img">

          </div>
          <div class="card__content">
            <h4 class="card__name"><a href="#">Название</a></h4>
            <p class="card__subtitle">
              Позаголовок
            </p>
            <div class="card__row">
              <a href="#" class="card__btn btn btn-reset">
                Узнать больше
              </a>
              <a href="#" class="card__btn card__btn_more btn btn_demo btn-reset">
                Demo

                <svg class="" width="24" height="24">
                  <use xlink:href="img/sprite.svg#play"></use>
                </svg>
              </a>
            </div>
          </div>
        </article>
        <article class="category__card card">

          <div class="card__more card-more">
            <div class="card-more__img"></div>
            <div class="card-more__content">
              <div class="card-more__header">
                <div>
                  <p class="card-more__title">
                    Название
                  </p>
                  <p class="card-more__subtitle">
                    Позаголовок
                  </p>
                </div>

                <a href="#" class="btn btn-reset btn_demo card-more__btn">
                  Demo

                  <svg class="" width="24" height="24">
                    <use xlink:href="img/sprite.svg#play"></use>
                  </svg>
                </a>
              </div>

              <ul class="list-reset card-more__list">
                <li><span>GAME TYPE:</span> SLOT</li>
                <li><span>RTP:</span> 96%</li>
                <li><span>MAX MULTIPLE:</span> 10 000x</li>
                <li><span>BASE MECHANICS:</span> Player shoots the running cockroaches</li>
                <li><span>FREE GAME:</span> Free spins (free shots) when the player gets three misses</li>
              </ul>
            </div>

            <button class="card-more__close btn-reset">
              <svg class="" width="55" height="55">
                <use xlink:href="img/sprite.svg#play"></use>
              </svg>
            </button>
          </div>

          <div class="card__img">

          </div>
          <div class="card__content">
            <h4 class="card__name"><a href="#">Название</a></h4>
            <p class="card__subtitle">
              Позаголовок
            </p>
            <div class="card__row">
              <a href="#" class="card__btn btn btn-reset">
                Узнать больше
              </a>
              <a href="#" class="card__btn card__btn_more btn btn_demo btn-reset">
                Demo

                <svg class="" width="24" height="24">
                  <use xlink:href="img/sprite.svg#play"></use>
                </svg>
              </a>
            </div>
          </div>
        </article>
        <article class="category__card card">


          <div class="card__more card-more">
            <div class="card-more__img"></div>
            <div class="card-more__content">
              <div class="card-more__header">
                <div>
                  <p class="card-more__title">
                    Название
                  </p>
                  <p class="card-more__subtitle">
                    Позаголовок
                  </p>
                </div>

                <a href="#" class="btn btn-reset btn_demo card-more__btn">
                  Demo

                  <svg class="" width="24" height="24">
                    <use xlink:href="img/sprite.svg#play"></use>
                  </svg>
                </a>
              </div>

              <ul class="list-reset card-more__list">
                <li><span>GAME TYPE:</span> SLOT</li>
                <li><span>RTP:</span> 96%</li>
                <li><span>MAX MULTIPLE:</span> 10 000x</li>
                <li><span>BASE MECHANICS:</span> Player shoots the running cockroaches</li>
                <li><span>FREE GAME:</span> Free spins (free shots) when the player gets three misses</li>
              </ul>
            </div>

            <button class="card-more__close btn-reset">
              <svg class="" width="55" height="55">
                <use xlink:href="img/sprite.svg#play"></use>
              </svg>
            </button>
          </div>

          <div class="card__img">

          </div>
          <div class="card__content">
            <h4 class="card__name"><a href="#">Название</a></h4>
            <p class="card__subtitle">
              Позаголовок
            </p>
            <div class="card__row">
              <a href="#" class="card__btn btn btn-reset">
                Узнать больше
              </a>
              <a href="#" class="card__btn card__btn_more btn btn_demo btn-reset">
                Demo

                <svg class="" width="24" height="24">
                  <use xlink:href="img/sprite.svg#play"></use>
                </svg>
              </a>
            </div>
          </div>
        </article>
        <article class="category__card card">


          <div class="card__more card-more">
            <div class="card-more__img"></div>
            <div class="card-more__content">
              <div class="card-more__header">
                <div>
                  <p class="card-more__title">
                    Название
                  </p>
                  <p class="card-more__subtitle">
                    Позаголовок
                  </p>
                </div>

                <a href="#" class="btn btn-reset btn_demo card-more__btn">
                  Demo

                  <svg class="" width="24" height="24">
                    <use xlink:href="img/sprite.svg#play"></use>
                  </svg>
                </a>
              </div>

              <ul class="list-reset card-more__list">
                <li><span>GAME TYPE:</span> SLOT</li>
                <li><span>RTP:</span> 96%</li>
                <li><span>MAX MULTIPLE:</span> 10 000x</li>
                <li><span>BASE MECHANICS:</span> Player shoots the running cockroaches</li>
                <li><span>FREE GAME:</span> Free spins (free shots) when the player gets three misses</li>
              </ul>
            </div>

            <button class="card-more__close btn-reset">
              <svg class="" width="55" height="55">
                <use xlink:href="img/sprite.svg#play"></use>
              </svg>
            </button>
          </div>


          <div class="card__img">

          </div>
          <div class="card__content">
            <h4 class="card__name"><a href="#">Название</a></h4>
            <p class="card__subtitle">
              Позаголовок
            </p>
            <div class="card__row">
              <a href="#" class="card__btn btn btn-reset">
                Узнать больше
              </a>
              <a href="#" class="card__btn card__btn_more btn btn_demo btn-reset">
                Demo

                <svg class="" width="24" height="24">
                  <use xlink:href="img/sprite.svg#play"></use>
                </svg>
              </a>
            </div>
          </div>
        </article>
        <article class="category__card card">

          <div class="card__more card-more">
            <div class="card-more__img"></div>
            <div class="card-more__content">
              <div class="card-more__header">
                <div>
                  <p class="card-more__title">
                    Название
                  </p>
                  <p class="card-more__subtitle">
                    Позаголовок
                  </p>
                </div>

                <a href="#" class="btn btn-reset btn_demo card-more__btn">
                  Demo

                  <svg class="" width="24" height="24">
                    <use xlink:href="img/sprite.svg#play"></use>
                  </svg>
                </a>
              </div>

              <ul class="list-reset card-more__list">
                <li><span>GAME TYPE:</span> SLOT</li>
                <li><span>RTP:</span> 96%</li>
                <li><span>MAX MULTIPLE:</span> 10 000x</li>
                <li><span>BASE MECHANICS:</span> Player shoots the running cockroaches</li>
                <li><span>FREE GAME:</span> Free spins (free shots) when the player gets three misses</li>
              </ul>
            </div>

            <button class="card-more__close btn-reset">
              <svg class="" width="55" height="55">
                <use xlink:href="img/sprite.svg#play"></use>
              </svg>
            </button>
          </div>

          <div class="card__img">

          </div>
          <div class="card__content">
            <h4 class="card__name"><a href="#">Название</a></h4>
            <p class="card__subtitle">
              Позаголовок
            </p>
            <div class="card__row">
              <a href="#" class="card__btn btn btn-reset">
                Узнать больше
              </a>
              <a href="#" class="card__btn card__btn_more btn btn_demo btn-reset">
                Demo

                <svg class="" width="24" height="24">
                  <use xlink:href="img/sprite.svg#play"></use>
                </svg>
              </a>
            </div>
          </div>
        </article>
        <article class="category__card card">


          <div class="card__more card-more">
            <div class="card-more__img"></div>
            <div class="card-more__content">
              <div class="card-more__header">
                <div>
                  <p class="card-more__title">
                    Название
                  </p>
                  <p class="card-more__subtitle">
                    Позаголовок
                  </p>
                </div>

                <a href="#" class="btn btn-reset btn_demo card-more__btn">
                  Demo

                  <svg class="" width="24" height="24">
                    <use xlink:href="img/sprite.svg#play"></use>
                  </svg>
                </a>
              </div>

              <ul class="list-reset card-more__list">
                <li><span>GAME TYPE:</span> SLOT</li>
                <li><span>RTP:</span> 96%</li>
                <li><span>MAX MULTIPLE:</span> 10 000x</li>
                <li><span>BASE MECHANICS:</span> Player shoots the running cockroaches</li>
                <li><span>FREE GAME:</span> Free spins (free shots) when the player gets three misses</li>
              </ul>
            </div>

            <button class="card-more__close btn-reset">
              <svg class="" width="55" height="55">
                <use xlink:href="img/sprite.svg#play"></use>
              </svg>
            </button>
          </div>

          <div class="card__img">

          </div>
          <div class="card__content">
            <h4 class="card__name"><a href="#">Название</a></h4>
            <p class="card__subtitle">
              Позаголовок
            </p>
            <div class="card__row">
              <a href="#" class="card__btn btn btn-reset">
                Узнать больше
              </a>
              <a href="#" class="card__btn card__btn_more btn btn_demo btn-reset">
                Demo

                <svg class="" width="24" height="24">
                  <use xlink:href="img/sprite.svg#play"></use>
                </svg>
              </a>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>