<section class="brief">
  <div class="container brief__container">
    <div class="brief__block">
      <h2 class="brief__title title-underline">
        <span>Our audience</span>
      </h2>

      <div class="annotation">
        <div class="annotation__content">
          <dl class="annotation__list">
            <div>
              <dt>MAU:</dt>
              <dd>500 000</dd>
            </div>
            <div>
              <dt>Mounthly GGR:</dt>
              <dd>$10 000 000</dd>
            </div>
            <div>
              <dt>GEOs:</dt>
              <dd>LATAM, Africa</dd>
            </div>
            <div>
              <dt>Licences:</dt>
              <dd>not needed</dd>
            </div>
          </dl>
        </div>
      </div>
    </div>
    <div class="brief__block">
      <h2 class="brief__title title-underline">
        <span>Our audience</span>
      </h2>

      <div class="annotation">
        <div class="annotation__content">
          <dl class="annotation__list">
            <div>
              <dt>MAU:</dt>
              <dd>500 000</dd>
            </div>
            <div>
              <dt>Mounthly GGR:</dt>
              <dd>$10 000 000</dd>
            </div>
            <div>
              <dt>GEOs:</dt>
              <dd>LATAM, Africa</dd>
            </div>
            <div>
              <dt>Licences:</dt>
              <dd>not needed</dd>
            </div>
          </dl>
        </div>
      </div>
    </div>
  </div>
</section>