<section class="cta">
  <div class="container cta__container">
    <div class="contact">
      <div class="contact__header">
        <p class="contact__title">Contact us</p>

        <address class="contact__socials">
          <ul class="list-reset  socials">
            <li>
              <a href="#" target="_blank">
                <img src="./img/svg/tg.svg" alt="Telegram">
              </a>
            </li>
            <li>
              <a href="#" target="_blank">
                <img src="./img/svg/youtube.svg" alt="Telegram">
              </a>
            </li>
            <li>
              <a href="#" target="_blank">
                <img src="./img/svg/facebook.svg" alt="Telegram">
              </a>
            </li>
            <li>
              <a href="#" target="_blank">
                <img src="./img/svg/in.svg" alt="Telegram">
              </a>
            </li>
          </ul>
        </address>
      </div>

      <div class="contact__content">
        <div class="contact__top">
          <h5 class="contact__capture">Наша почта</h5>
          <h5 class="contact__desc">
            Текст пока хз, потом поменяем. Текст пока хз, потом поменяем. Текст пока хз, потом
            поменяем.Текст пока хз, потом поменяем.
          </h5>
        </div>
        <form action="#" class="form contact__form">
          <div class="form__field">
            <input type="text" name="Email" class="form__input" placeholder="Почта для обратной связи">
          </div>
          <div class="form__field">
            <textarea name="Message" placeholder="Leave your message" class="form__input form__input_area"
              id=""></textarea>
          </div>

          <button class="btn-reset btn btn_demo form__btn">Отправить</button>
        </form>
      </div>
    </div>
  </div>
</section>