<footer class="footer">
  <div class="container">
    <div class="footer__container">
      <ul class="list-reset footer__row socials">
        <li>
          <a href="#" target="_blank">
            <img src="./img/svg/tg.svg" alt="Telegram">
          </a>
        </li>
        <li>
          <a href="#" target="_blank">
            <img src="./img/svg/youtube.svg" alt="Telegram">
          </a>
        </li>
        <li>
          <a href="#" target="_blank">
            <img src="./img/svg/facebook.svg" alt="Telegram">
          </a>
        </li>
        <li>
          <a href="#" target="_blank">
            <img src="./img/svg/in.svg" alt="Telegram">
          </a>
        </li>
      </ul>

      <div class="footer__bottom centered">
        <small class="footer__copyright">
          © Winnery
        </small>
      </div>
    </div>
  </div>
</footer>