<header class="header">
  <div class="container">
    <div class="header__container">
      <a href="/../" class="logo header__logo">
        <img src="./img/svg/logo.svg" alt="">
      </a>

      <nav class="header__nav nav">
        <ul>
          <li>
            <a href="#">About Us</a>
          </li>
          <li>
            <a href="#">Provider</a>
          </li>
          <li>
            <a href="#">Aggregator</a>
          </li>
        </ul>
      </nav>

      <div class="header__logo header__logo_hidden"></div>
    </div>
  </div>
</header>
