<section class="hero hero_games">
  <div class="container">
    <div class="hero__content">
      <h1 class="hero__title title-xl">
        Our Popular Games
      </h1>
      <p class="hero__subtitle subtitle">
        Текст пока хз, потом поменяем. Текст пока хз, потом поменяем. Текст пока хз, потом поменяем.Текст пока хз, потом
        поменяем.
      </p>

      <div class="hero__row">
        <a href="#" class="hero__btn btn btn_demo btn-reset">
          Winnery
        </a>
        <a href="#" class="hero__btn btn btn_demo btn-reset" data-taget="contact-us">
          Provider 1
        </a>
        <a href="#" class="hero__btn btn btn_demo btn-reset" data-taget="contact-us">
          Provider 2
        </a>
      </div>
    </div>
  </div>
</section>