<section class="hero">
  <div class="container">
    <div class="hero__content">
      <h1 class="hero__title title-xl">
        Текст пока хз,
        потом поменяем
      </h1>
      <p class="hero__subtitle subtitle">
        Текст пока хз, потом поменяем. Текст пока хз, потом поменяем. Текст пока хз, потом поменяем.Текст пока хз, потом
        поменяем.
      </p>

      <div class="hero__row">
        <a href="#" class="hero__btn btn btn-reset">
          Our games
        </a>
        <a href="#" class="hero__btn btn btn-reset" data-taget="contact-us">
          Сontact us
        </a>
      </div>
    </div>
  </div>
</section>
