<section class="partners">
  <div class="partners__header">
    <div class="container">
      <h2 class="partners__title title-md title-underline">
        <span>Наши партнеры</span>
      </h2>
    </div>
  </div>
  <div class="partners__inner">
    <div class="partners__marquee marquee">
      <div class="marquee__row">
        <div class="marquee__items">
          <div class="marquee__item"></div>
          <div class="marquee__item"></div>
          <div class="marquee__item"></div>
          <div class="marquee__item"></div>
          <div class="marquee__item"></div>
          <div class="marquee__item"></div>
          <div class="marquee__item"></div>
          <div class="marquee__item"></div>
        </div>
        <div class="marquee__items">
          <div class="marquee__item"></div>
          <div class="marquee__item"></div>
          <div class="marquee__item"></div>
          <div class="marquee__item"></div>
          <div class="marquee__item"></div>
          <div class="marquee__item"></div>
          <div class="marquee__item"></div>
          <div class="marquee__item"></div>
        </div>
      </div>
      <div class="marquee__row marquee__row_reverse">
        <div class="marquee__items">
          <div class="marquee__item"></div>
          <div class="marquee__item"></div>
          <div class="marquee__item"></div>
          <div class="marquee__item"></div>
          <div class="marquee__item"></div>
          <div class="marquee__item"></div>
          <div class="marquee__item"></div>
          <div class="marquee__item"></div>
        </div>
        <div class="marquee__items">
          <div class="marquee__item"></div>
          <div class="marquee__item"></div>
          <div class="marquee__item"></div>
          <div class="marquee__item"></div>
          <div class="marquee__item"></div>
          <div class="marquee__item"></div>
          <div class="marquee__item"></div>
          <div class="marquee__item"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="container partners__bottom centered">
    <button class="btn-reset partners__contact btn btn_accent">
      Contact us
    </button>
  </div>
</section>