*,
*::before,
*::after {
  box-sizing: border-box;
}

.page {
  height: 100%;
  font-family: var(--font-family, sans-serif);
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;

  font-size: calc(100vw / 192);
  background-color: var(--black);
  color: var(--white);

  @include tablet {
    font-size: calc(100vw / 128);
  }

  @include mobile {
    font-size: calc(100vw / 39);
  }
}
a {
  color: inherit;
}

.page__body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-size: 16px;

  display: flex;
  flex-direction: column;
}

img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.site-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden; // если используете на сайте position: sticky - уберите эту настройку
}
.main {
  flex-grow: 1;
  &_home {
    background-color: var(--black);
    background-image: url("./../img/bg/01.webp"), url("./../img/bg/02.webp");
    background-size: auto 90rem, 100% calc(100% - 90rem);
    background-repeat: no-repeat;
    background-position: right top, center bottom;
  }

  &_popular-games {
    background-color: var(--black);
    background-image: url("./../img/bg/03.webp"), url("./../img/bg/04.webp");
    background-size: 100% auto, 100% calc(100% - 103rem);
    background-repeat: no-repeat;
    background-position: right top, center bottom;
  }

  &_integration {
    background-color: var(--black);
    background-image: url("./../img/bg/05.webp"), url("./../img/bg/06.webp");
    background-size: 100% auto, 100% calc(100% - 103rem);
    background-repeat: no-repeat;
    background-position: right top, center bottom;
  }
}
.is-hidden {
  display: none !important; /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;

  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}
