// базовые подключения
@import "vars";
@import "mixins";
@import "fonts";
@import "settings";

// подключения компонентов страницы
@import "./components/ui";
@import "./components/header";
@import "./components/nav";
@import "./components/hero";
@import "./components/games";
@import "./components/card-more";
@import "./components/card";
@import "./components/category";
@import "./components/marquee";
@import "./components/partners";
@import "./components/footer";
@import "./components/annotation";
@import "./components/brief";
@import "./components/contact";
@import "./components/cta";
@import "./components/form";
@import "./components/docs";
